.m_title{

	text-align: right;
	background-color: #A8F0F0;
}
.motto{
	font-size: 14pt;
}

.date{
	border-bottom: 2px #009097 dashed;
}

.content{
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	height: 200px;
}
.main_content{
	border: 10px white solid;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
}
body{
	background: url(images/bg.jpg);
	background-size: cover;
	background-position: center;
}
.images{
	float: right;
	position: relative;
	bottom: 10px;
}